div.input
  label(for="title") First Name:
  input(type="text", name="title" value=user.title)
div.input
  label(for="last_name") Last Name:
  input(type="text", name="last_name" value=user.last_name)
div.input
  label(for="body") Dog Type:
  input( type="text", name="body")= user.body
div.submit
  input(type="submit")